body {
    background: #f3f4f6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.caption {
    color: #555;
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
}

.caption-red{
    color:crimson
}

.right {
    margin-top: 20px;
}

.button {
    padding: 15px 30px;
    background-color: #1db954;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #1ed760;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
}

.data-table td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.playlist-container {
    margin-bottom: 20px;
}

.playlist-heading {
    font-weight: normal;
}

.genre-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 20px;
}

.genre-list {
    list-style-type: disc;
    margin-left: 20px;
}

.artist-container {
    display: flex;
    flex-wrap: wrap;
}

.artist {
    margin-bottom: 20px;
}

.artist-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.artist-name {
    margin-top: 5px;
}

.form-group {
    margin-bottom: 10px;
}

.related-genres {
    margin-top: 40px; 
}

.related-genres .playlist-heading {
    margin-top: 0; 
}

.related-genres .genre-list {
    margin-top: 10px; 
}

.related-genres .genre-list li {
    margin-bottom: 8px;
}