<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Degrees of Music</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="page">
        <div class="container">
            <p class="caption">Your playlist will be in your Spotify library!</p>
            <table class="data-table">
                <tr>
                    <th>Genre</th>
                    <th>Artist</th>
                    <th>Image</th>
                </tr>
                {% for genre in data['genres'] %}
                <tr>
                    <td>{{ genre }}</td>
                    {% for artist in data['artist_data'] %}
                        {% if loop.index0 == loop.parent.index0 %}
                            <td>{{ artist['name'] }}</td>
                            <td><img src="{{ artist['image'] }}" alt="{{ artist['name'] }}" width="100"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <form action="/index">
                <button type="submit" class="button">Go back home</button>
            </form>
        </div>
    </div>
</body>
</html>
