<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Degrees of Music</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page">
        <div class="gif-container">
        </div>
        <div class="container">
            {% if artists %}
                <p class="caption">Here are some artists:</p>
                <ul>
                    {% for artist in artists %}
                        <li>
                            <img src="{{ artist.image }}" alt="{{ artist.name }}">
                            <p class="caption">{{ artist.name }}</p>
                            <p class="caption">{{ artist.genres|join(', ') }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="caption">No artist data available.</p>
            {% endif %}
            <br>
            <form method="POST" action="{{ url_for('search') }}">
                <div class="form-group">
                    <label for="depth" class="caption">Select depth</label>
                    <input type="number" id="depth" name="depth" required>
                </div>
                <p class="caption-red">Choose any number you want! 1 being the closest to your taste.</p>
                <br>
                <button type="submit" class="button">Generate playlist</button>
            </form>
        </div>
    </div>
</body>
</html>