<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Degrees of Music</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page">
        <div class="container">
            <div class="playlist-container">
                <div class="explanation-box">
                    <h3>How It Works!</h3>
                    <p>This code retrieves your top five recent artists and their genres using data from the backend through the concepts of <strong>Six Degrees of Separation</strong> and <strong>Breadth-First Search</strong>. Breadth-First Search is like exploring a map starting from your current location and moving outwards to nearby places. Meanwhile, Six Degrees of Separation indicates your <strong>Depth</strong>. Breadth-First Search traverses through the genres of artists starting from your current location, then returns a Spotify library that you input within the box - Depth. This process finds related artists or songs that closely align with your taste. The closer your depth, the more similar your music taste will be.
                    </p>
                </div>
                    {% if data %}
                    <h2 class="playlist-heading">Your top five recent artists and their genres</h2>
                    <div class="artist-container">
                        {% for artist in data.artist_data %}
                            <div class="artist">
                                <img src="{{ artist.image }}" alt="{{ artist.name }}" class="artist-image">
                                <p class="artist-name">{{ artist.name }}</p>
                                <ul class ="genre-list">
                                    {% for genre in data.genres %}
                                        <li>{{ genre }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <br/>
            <form method="POST" action="{{ url_for('search') }}">
                <div class="form-group">
                    <label for="depth" class="caption">Select depth</label>
                    <input type="string" id="depth" name="depth" required>
                </div>
                <p class="caption-red">Choose any number that you want! 1 being the closest to your taste!</p>
                <br/>
                <button type="submit" class="button">Generate playlist</button>
            </form>
        </div>
    </div>
</body>
</html>