<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Degrees of Music</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="page">
            <div class="container">
                <div class="left">
                    <div class="caption">Log in to upload a Spotify playlist personalized to your taste. Discover and enjoy your favorite tracks!</div>
                </div>
                <div class="right">
                    <a href="/authorize" class="button">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>