<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Degrees of Music</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="page">
        <div class="container">
            <div class="explanation-box">
                <h3>How It Works!</h3>
                <p>Once your degree is passed through in the backend. It will retrieve your token data within your Spotify. With this, the program will begin to shuffle through genres and begin to select numerous tracks that closely aligned with your taste. As displayed in the table below the returned genre are the music taste that will placed in your Spotify library and the Path is the similar genres that you may listen to.</p>
            </div>
            <p class="caption">Your playlist will be in your Spotify library!</p>
            <table class="data-table">
                <tr>
                    <th>Genre</th>
                    <th>Returned Genre</th>
                    <th>Path</th>
                </tr>
                {% for genre, details in data.items() %}
                <tr>
                    <td>{{ genre }}</td>
                    <td>{{ details.returned_genre }}</td>
                    <td>{{ details.path | join(', ') }}</td>
                </tr>
                {% endfor %}
            </table>
            <form action="/index">
                <button type="submit" class="button">Go back home</button>
            </form>
        </div>
    </div>
</body>
</html>